<div class="wrapper row2" id="about">
  <div class="clear" id="container">

    <div class="clear" id="about-us">

      <section class="clear" id="about-intro">
        <div class="one_half first">
          <h1 style="color: #c132ff">AirBnB</h1>
          <h4>AirBnb is the most modern and convenient rental and room rental system available today.</h4>
          <h4 style="color: grey">With us you will have the most comfortable moments when staying in our rooms or
            houses.</h4>
          <h6>The clean, comfortable and special houses with smart design will save time in all activities and
            activities in the house.</h6>
          <h6 style="color: grey">Our rooms can also be ignored if you plan to stay short at a specific location on the
            world map.
            With spacious room system, comfortable, clean and attentive dedicated service will make you feel like you
            are at your own home.</h6><br>
        </div>
        <div class="container"><img src="../assets/images/house.jpg"></div>
        <div class="container"><img id="content" src="https://media.giphy.com/media/1hBwDHjBdACJCVFI9Y/giphy.gif">
        </div>
        <br>

        <h2 id="member">Member in team :</h2><br>

      </section>

      <section id="team">
        <ul class="clear">
          <li class="one_third first">
            <figure><img alt="" height="220px" src="../assets/images/dudq.jpg" width="280px">
              <figcaption>
                <div class="fl_left">
                  <h3 class="team_name">Do Quoc Du</h3>
                  <h4 class="team_title" style="color: grey">Team leader</h4>
                </div>
                <ul>
                  <li><a href="#"></a>Developer</li>
                  <li><a href="#"></a>1xx cm</li>
                  <li><a href="#"></a>? kg</li>
                  <li><a href="#"></a>Alone</li>
                </ul>
                <!--                <p class="team_description"></p> m.n update cau nao m.n muon cho minh nhe, update ca avatar nua nhe
                update xong thi mo the nay ra, ths-->
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img alt="" height="220px" src="../assets/images/dl.jpg" width="280px">
              <figcaption>
                <div class="fl_left">
                  <h3 class="team_name">Bui Khac Tung</h3>
                  <h4 class="team_title" style="color: grey">Angular Master</h4>
                </div>
                <ul>
                  <li><a href="#"></a>Developer</li>
                  <li><a href="#"></a>172 cm</li>
                  <li><a href="#"></a>84 kg</li>
                  <li><a href="#"></a>Alone</li>
                  <p class="team_description">The first step is always the hardest!</p>
                </ul>
                <!--                <p class="team_description"></p> m.n update cau nao m.n muon cho minh nhe, update ca avatar nua nhe
update xong thi mo the nay ra, ths-->
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img alt="" height="220px" src="../assets/images/me.jpg" width="280px">
              <figcaption>
                <div class="fl_left">
                  <h3 class="team_name">Nguyen Quang Vinh</h3>
                  <h4 class="team_title" style="color: grey">Member</h4>
                </div>
                <ul>
                  <li><a href="#"></a>Developer</li>
                  <li><a href="#"></a>170 cm</li>
                  <li><a href="#"></a>70 kg</li>
                  <li><a href="#"></a>Alone</li>
                </ul>
                <p class="team_description">Fail make you grow up more than present. Never give up</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <br>
      <h3 id="h3" style="color: grey">You are our family</h3>
      <hr align="center" width="18%"/>

    </div>

  </div>
</div>
<router-outlet></router-outlet>
