<!--<table *ngIf="houseList" class="table table-hover">-->
<!--  <thead>-->
<!--  <tr class="table-bordered table-primary" style="text-align: center; font-weight: 900 ; color: red ; font-size: 50px">-->
<!--    <th scope="col">#ID</th>-->
<!--    <th scope="col">Tên Nhà</th>-->
<!--    <th scope="col">Địa Chỉ</th>-->
<!--    <th scope="col">Loại Nhà</th>-->
<!--    <th scope="col">Giá</th>-->
<!--    <th scope="col">Trạng Thái</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let houseItem of houseList " class="table-bordered"-->
<!--      routerLink="/home/{{houseItem.id}}/{{houseItem.houseName}}" style="text-align: center">-->
<!--    &lt;!&ndash;|    paginate: {itemsPerPage: 9, currentPage:pageActual},index as i">&ndash;&gt;-->
<!--    <th scope="row">{{houseItem.id}}</th>-->
<!--    <th>{{houseItem.houseName}}</th>-->
<!--    <th>{{houseItem.address}}</th>-->
<!--    <th>{{houseItem.category.}}</th>-->
<!--    <th>{{houseItem.price}}</th>-->
<!--    &lt;!&ndash;    <th>{{houseItem.status}}</th>&ndash;&gt;-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<div class="container text-center align-items-center">
  <div>
    <h3 class="display-5">List house of {{info.username}}</h3>
  </div>
  <app-house-item [houseList]="houseList"></app-house-item>
</div>
