<div>
</div>
<div class="parent-login">
  <div class="login-airbnb">
    <div *ngIf="isSuccess" class="alert alert-danger" role="alert">
      Bạn đã nhập sai thông tin đăng nhập vui lòng kiểm tra lại.!
    </div>
    <div id="logreg-forms">
      <div *ngIf="isLoggedIn; else loggedOut" class="alert alert-success" role="alert">
        Đã login thành công! {{roles}}
      </div>
      <ng-template #loggedOut>
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" class="form-signin col-md-12 col-sm-12" name="form"
              novalidate>
          <h1 class="h3 mb-3 font-weight-bolder" style="color: green"> Welcome</h1>


          <input #username="ngModel" [(ngModel)]="form.username" aria-describedby="User Name" class="form-control"
                 id="exampleInputUserName"
                 name="username"
                 placeholder="User Name" required type="text">

          <input #password="ngModel" [(ngModel)]="form.password" class="form-control" id="exampleInputPassword"
                 minlength="6"
                 name="password" placeholder="Password" required type="password"
          >

          <button class="btn btn-success btn-siginin-signup" type="submit"><i class="fas fa-sign-in-alt"></i> Log in
          </button>
          <a href="#" id="forgot_pswd">Forgot password?</a>
          <hr>
          <!-- <p>Don't have an account!</p>  -->
          <button class="btn btn-primary btn-siginin-signup" id="btn-signup" routerLink="/register" type="button"><i
            class="fas fa-user-plus"></i>
            Sign up
            New Account
          </button>
        </form>
      </ng-template>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
