<div class="container">
  <h2>House Booked List</h2>
  <table *ngIf="houseBookedList" class="table table-striped table-bordered col-10">
    <thead>
    <tr class="text-light" style="text-align: center;   background-color: deepskyblue;">
      <th scope="col">#ID</th>
      <th scope="col">House Name</th>
      <th scope="col">Host Of House</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">User Booking</th>
      <th scope="col">Status</th>
      <!--      <th colspan="2">-->
      <!--        <a [routerLink]="['/admin/house-create']" class="btn btn-success text-light">Add House</a>-->
      <!--      </th>-->
    </tr>
    </thead>
    <tr *ngFor="let houseBooked of houseBookedList; i as index"
        style="text-align: center">
      <!--|    paginate: {itemsPerPage: 9, currentPage:pageActual},index as i">-->
      <th scope="row">{{index}}</th>
      <th><a routerLink="/admin/house-detail/{{houseBooked.house.id}}">{{houseBooked.house.houseName}}</a></th>
      <th>{{houseBooked.house.user.name}}</th>
      <th>{{houseBooked.dateCheckIn}}</th>
      <th>{{houseBooked.dateCheckOut}}</th>
      <th>{{houseBooked.user.name}}</th>
      <th>{{houseBooked.status}}</th>
      <!--      <th>-->
      <!--              {{house.status}}-->
      <!--      </th>-->
      <td>
        <div>
          <a [routerLink]="['/admin/house-edit',house.id]"
             class="btn btn-danger text-light">Edit</a>
          <a [routerLink]="['/admin/house-delete',house.id]"
             class="btn btn-primary text-light ml-4">Delete</a>
        </div>
      </td>
    </tr>
  </table>
  <!--<div id="pagination">-->
  <!--  <pagination-controls (pageChange)="pageActual = $event"-->
  <!--  ></pagination-controls>-->
  <!--</div>-->
  <!--<router-outlet></router-outlet>-->
</div>
