* {
  margin: 0;
  padding: 0;
}

.btn-light {
  border: 2px solid gray;
  border-radius: 7px;
  height: auto;
  text-align: left;
  width: 600px;
}

/*.btn-light .btn-primary {*/
/*  width: 600px;*/
/*  padding: 20px;*/

/*}*/
#btnRegister {
  width: 200px;

  margin: 0 auto;
}

#btnRegister button {

}

.parent-login {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/dd3f1937594867.5745a6785be0c.png");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;
  height: 600px;

}

.register-form label {
  padding: 5px;
}

.form-group {
  margin: 10px;
}

.displayErrorMessage {
  color: red;
  font-weight: 100;
  font-family: Dialog;
  padding-top: 2%;
}
