* {
  margin: 0;
  padding: 0;
}

.btn-light {
  border: 2px solid gray;
  border-radius: 7px;
  height: auto;
  text-align: left;
  width: 400px;
}

/*.btn-light .btn-primary {*/
/*  width: 600px;*/
/*  padding: 20px;*/

/*}*/
#btnRegister {
  width: 150px;

  margin: 0 auto;
}

#btnRegister button {

}

.parent-login {
  background-image: url("https://i.dailymail.co.uk/i/pix/2016/01/16/16/303585A300000578-3402616-This_secluded_treehouse_in_Atlanta_contains_three_connected_tree-a-79_1452960637821.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: 2000px 700px;
  height: 600px;

}

.register-form label {
  padding: 5px;
}


.form-group {
  margin: 10px;
}

.displayErrorMessage {
  color: red;
  font-weight: 100;
  font-family: Dialog;
  padding-top: 0;
}

.form-submit {
  width: 100%;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
}

.loginhere-link {
  font-weight: 500;
  color: #222;
}

p {
  font-size: 15px;
}
