<div class="airbnb-plus-stay">
  <div class="row">
    <div class="card-body airbnb-plus col-md-12">
      <div class="col-md-11 img-explore-stay">
        <img alt="..." class="card-img-top" src="../assets/images/footer.jpg">
      </div>
    </div>
  </div>
</div>

<div class="container col-md-12">
  <div class="footer">
    <div class="row col-md-12">
      <div class="col-md-2 logo-phone-messenger">
        <div>
          <img alt="" src="../assets/images/download.png" style="width: 100%; height: auto">
        </div>
        <div>
          <div>
            <img alt="" src="../assets/images/" style="float: left">
          </div>
          <div>
            <strong>Messenger
            </strong>
            http://m.me/airbnb
          </div>
          <div>
            <img alt="" src="../assets/images/Capture1.PNG" style="float: left">
          </div>
          <div>
            <strong>Call Center</strong>
            18006586 (Việt Nam)
          </div>
        </div>
      </div>
      <div class="footer-div-1 col-md-3">
        <h5>TOP HOMESTAY ĐƯỢC YÊU THÍCH</h5>
        <ul>
          <li>
            <a href="">Homestay Đà Lạt</a>
          </li>
          <li>
            <a href="">Homestay Hà Nội</a>
          </li>
          <li>
            <a href="">Homestay Hồ Chí Minh</a>
          </li>
          <li>
            <a href="">Homestay Sapa</a>
          </li>
          <li>
            <a href="">Homestay Vũng Tàu</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Không Gian Ưu Thích</h5>
        <ul>
          <li>
            <a href="">Căn hộ dịch vụ</a>
          </li>
          <li>
            <a href="">Biệt Thự</a>
          </li>
          <li>
            <a href="">Nhà Riêng</a>
          </li>
          <li>
            <a href="">Studio</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Về Chúng Tôi</h5>
        <ul>
          <li>
            <a href="">Blog</a>
          </li>
          <li>
            <a href="">Điều khoản hoạt động</a>
          </li>
          <li>
            <a href="">1800 6586</a>
          </li>
          <li>
            <a href="">+84 974 353 481</a>
          </li>
          <li>
            <a href="">airbnbn.info.com</a>
          </li>
          <li>
            <a href="">Cơ hội nghề nghiệp</a>
          </li>
        </ul>
      </div>
      <div class="footer-div-1 col-md-2">
        <h5>Tải Ứng Dụng Airbnb</h5>
        <div class="col-md-6">
          <img alt="" src="../assets/images/Capture3.PNG">
        </div>
        <div class="col-md-6">
          <img alt="" src="../assets/images/Capture4.PNG">
          <img alt="" src="../assets/images/Capture5.PNG">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-md-12 footer-bottom">
  <div class="row col-md-12">
    <div class="col-md-4">
      <h5>SECURE YOUR TRANSACTION</h5>
      <img alt="" src="https://www.luxstay.com/icons/visa.svg">
      <img alt="" src="https://www.luxstay.com/icons/mastercard.svg">
      <img alt="" src="https://www.luxstay.com/icons/maestro.svg">
    </div>
    <div class="col-md-3">
      <h5>CERTIFICATION</h5>
      <img alt="" src="../assets/images/bct.png" style="width: 100px ; height: 50px">
      <img alt="" src="../assets/images/dmca.png" style="width: 100px ; height: 40px">
    </div>
    <div class="col-md-3">
      <h5>FOLLOW US</h5>
      <i aria-hidden="true" class="fa fa-instagram"></i>
      <i aria-hidden="true" class="fa fa-youtube-play"></i>
      <i aria-hidden="true" class="fa fa-facebook-official"></i>
    </div>
  </div>
</div>
