<div class="list-group col-2 float-left">
  <a class="list-group-item list-group-item-action "
     href="?page=productList">Room List</a>
  <a class="list-group-item list-group-item-action"
     routerLink="/admin/category-list">Category</a>
  <a class="list-group-item list-group-item-action"
     href="?page=userList">User List</a>
  <a class="list-group-item list-group-item-action"
     href="?page=customerList">Guest</a>
  <a class="list-group-item list-group-item-action"
     href="?page=orderList">Booking</a>
</div>
