* {
  margin: 0;
  padding: 0;
}

.btn-light {
  border: 2px solid gray;
  border-radius: 7px;
  height: auto;
  text-align: left;
  width: 400px;
}

#btnRegister {
  width: 150px;

  margin: 0 auto;
}

#btnRegister button {

}

.parent-login {
  background-image: url("http://hinh-nen.org/images/14529hinh-nen-nhung-ngoi-nha-sac-mau-dep-nhu-trong-tranh.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: 2100px 700px;
  height: 600px;

}

.register-form label {
  padding: 5px;

}

.form-group {
  margin: 10px;
}

.displayErrorMessage {
  color: red;
  font-weight: 100;
  font-family: Dialog;
  padding-top: 2%;
}

.form-submit {
  width: 100%;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}

.register-content {
  background: #34ce57;
  padding: 50px 85px;
}

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
}

.loginhere-link {
  font-weight: 500;
  color: #222;
}

p {
  font-size: 15px;
}
