<h2>Category List</h2>
<!--<a href="/admin/category-create">Creat Category</a>-->
<div class="row ml-2 float-left text-light">
  <table class="table table-striped text-light table-bordered">
    <thead>
    <tr id="cat">
      <th class="mt-3">Id</th>
      <th class="mt-3">Name</th>
      <th colspan="2">
        <a [routerLink]="['/admin/category-create']" class="btn btn-success text-light">Add category</a>
      </th>

      <!--    <th class="mt-3">Edit</th>-->
      <!--    <th>Delete</th>-->
    </tr>
  </thead>
    <tr *ngFor="let category of categoryList">
      <td><a [routerLink]="['admin/category-detail',category.id]">{{category.id}}</a></td>
      <td><a [routerLink]="['admin/category-detail',category.id]">{{category.name}}</a></td>
      <td>
        <div>
          <a [routerLink]="['admin/category-delete',category.id]"
             class="btn btn-danger text-light">Delete</a>
          <a [routerLink]="['admin/category-edit',category.id]"
             class="btn btn-primary text-light ml-4">Edit</a>
        </div>
      </td>
      <!--    <td>{{category.book}}</td>-->
      <!--    <td><a [routerLink]="['/category-edit',category.id]">Edit</a></td>-->
      <!--    <td><a [routerLink]="['/category-delete',category.id]">Delete</a></td>-->
    </tr>
  </table>
</div>
