<h1> List of houses</h1>
<div class="container">

  <div *ngIf="house">
    <div class="search-house">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
    </div>
    <div class="row">

      <div class="col-sm-4"
           *ngFor="let houseItem of house   | filter: searchText| paginate: {itemsPerPage: 9, currentPage: pageActual}; index as i">
        <div class="card" style="width: 18rem;" routerLink="/home/{{houseItem.id}}/{{houseItem.name}}">
          <img src="{{houseItem.picture[0]}}"
               class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text">
              Name: {{ houseItem.name }}
            </p>
            <label>
              Address: {{houseItem.address}}
            </label>
            <div id="priceHouseItem"> Price: {{houseItem.price}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    <pagination-controls (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</div>
<router-outlet></router-outlet>
