<h1> List of houses</h1>
<div class="container">
  <div *ngIf="house">
    <form [formGroup]="formSearch">
      <div class="search-house d-flex">
        <input autocomplete="off" class="form-control" formControlName="searchName" name="search"
               placeholder="&#61442;  Search" style="margin-right: 5px" type="text">
        <select class="custom-select form-control" formControlName="searchCategory" style="margin-right: 5px">
          <option *ngFor="let category of categoryList" [value]="category.name"> {{category.name}}</option>
        </select>
        <input autocomplete="off" class="form-control" formControlName="searchArea" name="area"
               placeholder="&#61442;  Area" style="margin-right: 5px" type="number">
        <input autocomplete="off" class="form-control" formControlName="searchBedRoom" name="room"
               placeholder="&#61442;  BedRoom" style="margin-right: 5px" type="number">
        <input autocomplete="off" class="form-control" formControlName="searchPrice" name="price"
               placeholder="&#61442;  $" style="margin-right: 5px" type="number">
      </div>
      <div *ngIf="formSearch.dirty">
        <a (click)="ngOnInit()">Remove Filter</a>
      </div>
    </form>

    <div class="row">

      <div class="col-sm-4"
           *ngFor="let houseItem of house | houseDetailFilter: formSearch.controls.searchName.value
                                             : formSearch.controls.searchArea.value
                                             : formSearch.controls.searchBedRoom.value
                                             : formSearch.controls.searchCategory.value
                                             : formSearch.controls.searchPrice.value
                                             | paginate: {itemsPerPage: 9, currentPage: pageActual}; index as i">
        <app-public-house-item [house]="houseItem"></app-public-house-item>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    <pagination-controls (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</div>
<div id="clear">
  <div class="fb-comments" data-href="http://localhost:4200/user/home-list-for-guest" data-numposts="10"
       data-width="700"></div>
</div>
<router-outlet></router-outlet>
