<h1> List of houses</h1>
<div class="container">
  <div *ngIf="house">
    <!--    <form formControlName="search" [formControl]="formSearch">-->
    <div class="search-house d-flex">
      <input [(ngModel)]="searchName" autocomplete="off" class="form-control" name="search"
             placeholder="&#61442;  Search" style="margin-right: 5px" type="text">
      <select [(ngModel)]="searchCategory" class="custom-select form-control" style="margin-right: 5px">
        <option *ngFor="let category of categoryList" [value]="category.name"> {{category.name}}</option>
      </select>
      <input [(ngModel)]="searchArea" autocomplete="off" class="form-control" name="area" placeholder="&#61442;  Area"
             style="margin-right: 5px" type="number">
      <input [(ngModel)]="searchBedRoom" autocomplete="off" class="form-control" name="room"
             placeholder="&#61442;  BedRoom" style="margin-right: 5px" type="number">
      <input [(ngModel)]="searchPrice" autocomplete="off" class="form-control" name="price"
             placeholder="&#61442;  $" style="margin-right: 5px" type="number">
    </div>
    <!--    </form>-->
    <!--    <div *ngIf="formSearch.dirty">-->
    <!--      <a>Remove Filter</a>-->
    <!--    </div>-->
    <div class="row">

      <div class="col-sm-4"
           *ngFor="let houseItem of house | houseDetailFilter: searchName: searchArea: searchBedRoom: searchCategory: searchPrice | paginate: {itemsPerPage: 9, currentPage: pageActual}; index as i">
        <app-public-house-item [house]="houseItem"></app-public-house-item>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    <pagination-controls (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</div>
<router-outlet></router-outlet>
