* {
  margin: 0;
  padding: 0;
}

.greeting section {

}

.content {
  width: 95%;
  height: auto;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.content h3 {
  opacity: 0.7;
  margin-bottom: 2%;
  margin-top: 2%;
}

.card-img {
  width: 100%;
  height: 100px;
}

.card-title {
  line-height: 100px;
  padding-left: 5%;
}

.card {
  max-width: 540px;
  border-radius: 20px;
  border-style: outset;
  margin-right: 8%;
}

#carouselExampleCaptions {
  margin-top: 2%;
  width: 87%;
  margin-left: 5%;
}

.content-middle {
  margin-left: 5%;
  margin-bottom: 3%;
}

.content-middle-2 {
  padding-left: 5%;
}

.content-middle-2 card {
  width: 12rem;
}

.content-middle-2 h6 {
  text-align: center;
}

.content-middle-2 p {
  text-align: center;
}

.airbnb-plus {
  margin-left: 5%;
  margin-top: 3%;
}

.airbnb-plus p {
  margin-bottom: 2%;
}

.btn-explore-stay {
  left: 40%;
  position: absolute;
  bottom: 18%;
  background-color: white;
  border-radius: 10px;
}

.btn-explore-stay a {
  font-weight: 600;
  border-radius: 10px;
}

.btn {
  width: 150px;
  height: 50px;
}
